In [1]:
days = 655

In [2]:
days

655

In [3]:
print(days)

655

In [4]:
int val=2

SyntaxError: invalid syntax (<ipython-input-4-6f8d8b63bb0f>, line 1)

In [5]:
val=2

In [6]:
val_to_str=str(val)
print(val_to_str)

2

In [7]:
squared=val * 2

In [8]:
squared

4

In [9]:
val = 3

In [10]:
squared = val * 2

In [11]:
squared

6

In [12]:
squared= val ** 2
squared

9

In [13]:
square_divide = squared / 2
square_divide

4.5

In [14]:
list_months=[1,2,3,4]
len(list_months)

4

In [15]:
numbers=[1,2,3] 

letters=['A','b','c'] 

sum= numbers+letters;

SyntaxError: invalid character in identifier (<ipython-input-15-ba5265c611c2>, line 1)

In [16]:
numbers=[1,2,3]

letters=['A','b','c']

sum= numbers+letters
sum

[1, 2, 3, 'A', 'b', 'c']

In [17]:
letters=['A','b','c','d','e']

In [18]:
letters[2:4]

['c', 'd']

In [19]:
letters[len(letters)-3:]

['c', 'd', 'e']

In [20]:
open(python.txt,r)

NameError: name 'python' is not defined

In [21]:
open(original.txt,r)

NameError: name 'original' is not defined

In [22]:
open("original.txt",r)

NameError: name 'r' is not defined

In [23]:
open("original.txt","r")

In [24]:
open("original.txt","r").read()

'Je lis mon premier fichier !!!'

In [25]:
names="tom,fred,bob"
names.split(",")

['tom', 'fred', 'bob']

In [26]:
o=open("original.csv","r")
g=o.read()
rows = g.split("\n")

In [27]:
rows

['Ain,643309',
 'Aisne,554040',
 'Allier,353262',
 'Alpes-de-Haute-Provence,166298',
 'Alpes-Maritimes,1098785',
 'Ardèche,332051',
 'Ardennes,287775',
 'Ariège,158076',
 'Aube,316098',
 'Aude,375065',
 'Aveyron,289901',
 'Bas-Rhin,1131812',
 'Bouches-du-Rhône,2035475',
 'Calvados,708407',
 'Cantal,152400',
 'Charente,366787',
 'Charente-Maritime,656046',
 'Cher,318590',
 'Corrèze,249684',
 'Corse-du-Sud,154100',
 "Côte-d'Or,545001",
 "Côtes-d'Armor,617413",
 'Creuse,124948',
 'Deux-Sèvres,384655',
 'Dordogne,428651',
 'Doubs,549155',
 'Drôme,514104',
 'Essonne,1286908',
 'Eure,616076',
 'Eure-et-Loir,445083',
 'Finistère,935393',
 'Gard,752382',
 'Gers,197988',
 'Gironde,1556663',
 'Guadeloupe,406706',
 'Guyane,254845',
 'Haute-Corse,175499',
 'Haute-Garonne,1344579',
 'Haute-Loire,234078',
 'Haute-Marne,186698',
 'Hautes-Alpes,145213',
 'Haute-Saône,246022',
 'Haute-Savoie,806447',
 'Hautes-Pyrénées,236577',
 'Haute-Vienne,384708',
 'Haut-Rhin,775941',
 'Hauts-de-Seine,1617484',
 'Hérault,1127333',
 'Ille-et-Vilaine,1060051',
 'Indre,232802',
 'Indre-et-Loire,619004',
 'Isère,1271938',
 'Jura,270826',
 'La Réunion,541487',
 'Landes,414090',
 'Loire,774262',
 'Loire-Atlantique,1382766',
 'Loiret,688098',
 'Loir-et-Cher,344121',
 'Lot,180016',
 'Lot-et-Garonne,343198',
 'Lozère,80423',
 'Maine-et-Loire,829156',
 'Manche,518322',
 'Marne,584297',
 'Martinique,390252',
 'Mayenne,317716',
 'Meurthe-et-Moselle,746687',
 'Meuse,197763',
 'Morbihan,764338',
 'Moselle,1065894',
 'Nièvre,221048',
 'Nord,2640622',
 'Oise,838646',
 'Orne,297109',
 'Paris,2243739',
 'Pas-de-Calais,1497668',
 'Puy-de-Dôme,661248',
 'Pyrénées-Atlantiques,688451',
 'Pyrénées-Orientales,474842',
 'Rhône,1833002',
 'Saône-et-Loire,574229',
 'Sarthe,583961',
 'Savoie,440777',
 'Seine-et-Marne,1400477',
 'Seine-Maritime,1284107',
 'Seine-Saint-Denis,1582139',
 'Somme,583641',
 'Tarn,396341',
 'Tarn-et-Garonne,258696',
 'Territoire de Belfort,147647',
 'Val-de-Marne,1377511',
 "Val-d'Oise,1221946",
 'Var,1055745',
 'Vaucluse,566592',
 'Vendée,681469',
 'Vienne,444347',
 'Vosges,386978',
 'Yonne,352433',
 'Yvelines,1449398']

In [28]:
ten_rows = rows[5:10]
ten_rows

['Ardèche,332051',
 'Ardennes,287775',
 'Ariège,158076',
 'Aube,316098',
 'Aude,375065']

In [29]:
final_list=[]
for row in ten_rows:
    final_list.append(row.split(","))
final_list

[['Ardèche', '332051'],
 ['Ardennes', '287775'],
 ['Ariège', '158076'],
 ['Aube', '316098'],
 ['Aude', '375065']]

In [30]:
final_list[0][1]

'332051'

In [31]:
for val in final_list:
    print(final_list[final_list.index(val)][1] )

332051
287775
158076
316098
375065